{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/change_rating.js' %}"></script>
</head>
<body>

<nav class="p-3 bg-dark text-white navbar navbar-expand-lg navbar-dark bg-dark" style="position: fixed; top: 0; z-index: 100; width: 100%;">
  <div class="container">
      <div>
          <a class="navbar-brand" href="/">SKAT45_QUSETIONS</a>
          <a href="/ask/" type="button" class="navbar-brand">ASK</a>
      </div>
      <div class="inline">
          <form class="d-inline-flex">
              <input class="form-control me-2 bg-dark text-light" type="search" placeholder="Search" aria-label="Search">
          </form>
      </div>

    <div class="text-end">
            {% if request.user.is_authenticated %}
            {% include 'layouts/authorised_user_block.html' %}
            {% else %}
            {% include 'layouts/not_authorised_user_block.html' %}
            {% endif %}
    </div>
    </div>
  </div>
</nav>
<br><br><br>
<div class="row m-4">
    <div class="col-md-8 p-4 bg-light">
        {% block content %}
        <b>Something went wrong, and we can't to view content block</b>
        {% endblock %}
    </div>
    <div class="col-md-4">
        {% include 'layouts/tags_block.html' %}
    </div>
</div>

<footer class="bg-dark text-light p-5">
    <br>
    <p class="text-light">There should be legal information here, but there isn't. It is typical footer.</p>
    <br>
</footer>
</body>
</html>